<tr>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_01.gif', width: 41, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_02.gif', width: 123, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_03.gif', width: 20, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_04.gif', width: 123, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_05.gif', width: 20, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_06.gif', width: 123, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_07.gif', width: 20, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_08.gif', width: 123, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_09.gif', width: 20, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_10.gif', width: 123, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_11.gif', width: 20, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_12.gif', width: 123, height: 26) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_13.gif', width: 41, height: 26) %></td>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_14.gif', width: 41, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_15.gif', width: 123, height: 112, date: '01.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_16.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_17.gif', width: 123, height: 112, date: '20.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_18.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_19.gif', width: 123, height: 112, date: '07.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_20.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_21.gif', width: 123, height: 112, date: '04.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_22.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_23.gif', width: 123, height: 112, date: '16.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_24.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_25.gif', width: 123, height: 112, date: '13.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_26.gif', width: 41, height: 112) %></td>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_27.gif', width: 41, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_28.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_29.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_30.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_31.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_32.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_33.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_34.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_35.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_36.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_37.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_38.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_39.gif', width: 41, height: 20) %></td>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_40.gif', width: 41, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_41.gif', width: 123, height: 112, date: '17.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_42.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_43.gif', width: 123, height: 112, date: '23.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_44.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_45.gif', width: 123, height: 112, date: '10.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_46.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_47.gif', width: 123, height: 112, date: '15.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_48.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_49.gif', width: 123, height: 112, date: '19.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_50.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_51.gif', width: 123, height: 112, date: '03.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_52.gif', width: 41, height: 112) %></td>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_53.gif', width: 41, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_54.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_55.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_56.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_57.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_58.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_59.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_60.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_61.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_62.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_63.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_64.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_65.gif', width: 41, height: 20) %></td>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_66.gif', width: 41, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_67.gif', width: 123, height: 112, date: '08.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_68.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_69.gif', width: 123, height: 112, date: '21.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_70.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_71.gif', width: 123, height: 112, date: '02.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_72.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_73.gif', width: 123, height: 112, date: '24.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_74.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_75.gif', width: 123, height: 112, date: '12.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_76.gif', width: 20, height: 112) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_77.gif', width: 123, height: 112, date: '09.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_78.gif', width: 41, height: 112) %></td>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_79.gif', width: 41, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_80.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_81.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_82.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_83.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_84.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_85.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_86.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_87.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_88.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_89.gif', width: 20, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_90.gif', width: 123, height: 20) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_91.gif', width: 41, height: 20) %></td>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_92.gif', width: 41, height: 113) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_93.gif', width: 123, height: 112, date: '14.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_94.gif', width: 20, height: 113) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_95.gif', width: 123, height: 112, date: '06.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_96.gif', width: 20, height: 113) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_97.gif', width: 123, height: 112, date: '11.12.2019') %>
<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_98.gif', width: 20, height: 113) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_99.gif', width: 123, height: 112, date: '18.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_100.gif', width: 20, height: 113) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_101.gif', width: 123, height: 112, date: '05.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_102.gif', width: 20, height: 113) %></td>
		<%= day_box(image: 'kalenders/2019/slices/adventskalender_103.gif', width: 123, height: 112, date: '22.12.2019') %>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_104.gif', width: 41, height: 113) %></td>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_105.gif', width: 41, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_106.gif', width: 123, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_107.gif', width: 20, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_108.gif', width: 123, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_109.gif', width: 20, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_110.gif', width: 123, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_111.gif', width: 20, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_112.gif', width: 123, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_113.gif', width: 20, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_114.gif', width: 123, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_115.gif', width: 20, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_116.gif', width: 123, height: 86) %></td>
	<td>
		<%= image_tag('kalenders/2019/slices/adventskalender_117.jpg', width: 41, height: 86) %></td>
</tr>
