<tr>
	<td colspan="13">
		<%= image_tag('kalenders/2018/slices/2018_01.jpg', width: 920, height: 22) %>
  </td>
</tr>
<tr>
	<td rowspan="10">
		<%= image_tag('kalenders/2018/slices/2018_02.jpg', width: 40, height: 598) %>
  </td>
	<%= day_box(image: 'kalenders/2018/slices/2018_001.jpg', width: 124, height: 115, rowspan: 3, date: '01.12.2018') %>
	<td rowspan="10">
		<%= image_tag('kalenders/2018/slices/2018_04.jpg', width: 20, height: 598) %>
  </td>
	<%= day_box(image: 'kalenders/2018/slices/2018_002.jpg', width: 123, height: 115, rowspan: 3, date: '20.12.2018') %>
	<td colspan="9">
		<%= image_tag('kalenders/2018/slices/2018_06.jpg', width: 613, height: 1) %>
  </td>
</tr>
<tr>
	<td colspan="5">
		<%= image_tag('kalenders/2018/slices/2018_07.jpg', width: 306, height: 1) %>
  </td>
	<%= day_box(image: 'kalenders/2018/slices/2018_08.jpg', width: 124, height: 114, date: '16.12.2018', rowspan: 2) %>
	<td rowspan="9">
		<%= image_tag('kalenders/2018/slices/2018_09.jpg', width: 19, height: 597) %>
  </td>
	<%= day_box(image: 'kalenders/2018/slices/2018_10.jpg', width: 124, height: 114, rowspan: 2, date: '13.12.2018') %>
	<td rowspan="9">
		<%= image_tag('kalenders/2018/slices/2018_11.jpg', width: 40, height: 597) %>
  </td>
</tr>
<tr>
	<td rowspan="8">
		<%= image_tag('kalenders/2018/slices/2018_12.jpg', width: 20, height: 596) %>
  </td>
	<%= day_box(image: 'kalenders/2018/slices/2018_003.jpg', width: 123, height: 113, date: '07.12.2018') %>
	<td rowspan="8">
		<%= image_tag('kalenders/2018/slices/2018_14.jpg', width: 20, height: 596) %>
  </td>
	<%= day_box(image: 'kalenders/2018/slices/2018_004.jpg', width: 123, height: 113, date: '04.12.2018') %>
	<td rowspan="8">
		<%= image_tag('kalenders/2018/slices/2018_16.jpg', width: 20, height: 596) %>
  </td>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_17.jpg', width: 124, height: 18) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_18.jpg', width: 123, height: 18) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_19.jpg', width: 123, height: 18) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_20.jpg', width: 123, height: 18) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_21.jpg', width: 124, height: 18) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_22.jpg', width: 124, height: 18) %>
  </td>
</tr>
<tr>
	<%= day_box(image: 'kalenders/2018/slices/2018_23.jpg', width: 124, height: 115, date: '17.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_24.jpg', width: 123, height: 115, date: '23.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_25.jpg', width: 123, height: 115, date: '10.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_26.jpg', width: 123, height: 115, date: '15.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_27.jpg', width: 124, height: 115, date: '19.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_28.jpg', width: 124, height: 115, date: '03.12.2018') %>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_29.jpg', width: 124, height: 17) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_30.jpg', width: 123, height: 17) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_31.jpg', width: 123, height: 17) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_32.jpg', width: 123, height: 17) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_33.jpg', width: 124, height: 17) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_34.jpg', width: 124, height: 17) %>
  </td>
</tr>
<tr>
	<%= day_box(image: 'kalenders/2018/slices/2018_35.jpg', width: 124, height: 114, date: '08.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_36.jpg', width: 123, height: 114, date: '21.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_37.jpg', width: 123, height: 114, date: '02.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_38.jpg', width: 123, height: 114, date: '24.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_39.jpg', width: 124, height: 114, date: '12.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_40.jpg', width: 124, height: 114, date: '09.12.2018') %>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_41.jpg', width: 124, height: 19) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_42.jpg', width: 123, height: 19) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_43.jpg', width: 123, height: 19) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_44.jpg', width: 123, height: 19) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_45.jpg', width: 124, height: 19) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_46.jpg', width: 124, height: 19) %>
  </td>
</tr>
<tr>
	<%= day_box(image: 'kalenders/2018/slices/2018_47.jpg', width: 124, height: 114, date: '14.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_48.jpg', width: 123, height: 114, date: '06.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_49.jpg', width: 123, height: 114, date: '11.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_50.jpg', width: 123, height: 114, date: '18.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_51.jpg', width: 124, height: 114, date: '05.12.2018') %>
	<%= day_box(image: 'kalenders/2018/slices/2018_52.jpg', width: 124, height: 114, date: '22.12.2018') %>
</tr>
<tr>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_53.jpg', width: 124, height: 86) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_54.jpg', width: 123, height: 86) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_55.jpg', width: 123, height: 86) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_56.jpg', width: 123, height: 86) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_57.jpg', width: 124, height: 86) %>
  </td>
	<td>
		<%= image_tag('kalenders/2018/slices/2018_58.jpg', width: 124, height: 86) %>
  </td>
</tr>
